/* 
yellow light #eab308
yellow #ca8a04

gray light #a3a3a3
gray #737373
gray darker #525252
gray more darker #404040

black #0a0a0a
*/



* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Added box-sizing to include padding and border in element's total width/height */
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    display: grid;
    grid-template-columns: 2.3fr 10fr;
    grid-template-rows: 1080px;

}


/* ---------Sidebar--------- */
.sidebar div{
    padding: 15px;

}
.sidebar {
    text-align: start;
    /* background-color: #ca8a04; */
    background: linear-gradient(90deg,#ca8a04, #404040);
    color: #0a0a0a;
    
}

.side-panel {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
}
.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
}
.side-content a{
    font-family: Arial, Helvetica, sans-serif;
    color: #0a0a0a;
    text-decoration: none;
    font-size: 1.1rem;
}
.side-content a:hover{
    color: #fbbf24;
    transition: 0.4s;

}


/* ---------main-header--------- */


.main {
    
    display: grid;
    grid-template-rows: 1fr 5fr; /* Decreased the height of the header to make it smaller */
    padding: 0;
    margin: 0;

}
.header {

    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    padding: 0;
    color: #ca8a04;
    background-color: #2e2e2e;
    background: linear-gradient(#1e1e1e, #404040);
    /* box-shadow:  -13px 0px 70px #333333,
             13px 0px 70px #4d4d4d; */
}
/* ---------header-top--------- */


.header div{
    padding: 15px;
    
}
.header-top {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 0.4fr 8fr 1.5fr 1fr 2fr;
    gap: 10px;
    align-items: center;

}
.header-top .search-icon{
    justify-self: center;
}
.header input{
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: #737373;
    padding:15px;
}
.header-top img{
    height: 30px;
    width: 30px;
    justify-self: center;
    border-radius: 60px;
}
.header-top .bell{
    justify-self: right;

}

.header-top #profile-btn{
    justify-self: center;
}
.header-top a{
    text-decoration: none;
    color: #ca8a04;
    justify-self: stretch;
}
.header-top a:hover{
    color: #eab308;
}

/* ---------header-bot--------- */


.header-bot {
    display: grid;
    grid-template-columns: 0.3fr 8fr 1fr 1fr 1fr;
    gap: 15px; /* Increased the gap between header elements */
    align-items: center;

}
.header-bot img{
    height: 80px;
    width: 80px;
    justify-self: right;
    border-radius: 50%;

}


.header-bot button {
   
    border: none;
    display: block;
    position: relative;
    padding: 10px 10px;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: #ca8a04;
    z-index: 1;
    font-family: inherit;
    font-weight: 300;
    border-radius: 10px;
  }
  
.header-bot button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #ca8a04;
    border-radius: 10px;
  }
  
.header-bot button span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  
.header-bot button:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #ca8a04;
  }
  
.header-bot button:hover {
    color: #a3a3a3;
}
  
.header-bot button:active span::before {
    background: #eab308;
}

.header-bot #hello-p{
    font-size: 12px;
}
.header-bot #userName-p{
    font-size: 18px;
}


/* ---------main--------- */
.main-content {
    background-color: #404040;

    /* box-shadow:  -13px 0px 70px #333333,
             13px 0px 70px #4d4d4d; */
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 20px; /* Increased the gap between main content elements */
    grid-template-rows: 1fr;
}

.main-content div{
    padding: 15px;

}

.main-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(auto-fit, minmax(10px, 200px)); */
    grid-template-rows: 20px 200px 200px 200px;
    gap: 20px;
}
.main-projects h2{
    grid-column: 1 /3;
    color: #ca8a04;

}

.card {
    background-color: #a3a3a3;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 2fr 0.5fr;
    overflow: auto;
    box-shadow:  5px 5px 1px #919191;


}
.card .title{
    font-weight: bold;
    color: #eab308;
}
.card .icons{
    justify-self: right;
    gap: 5px;
}
/* ---------Announcments--------- */
.anno-trend {
    display: grid;
    grid-template-rows:0.1fr .6fr 0.1fr .2fr;
    padding: 0;

}
.anno-trend h2{
    color: #ca8a04;
    
}
.anno{
    margin-top: 10px;
    background-color: #a3a3a3;
    display: grid;
    border-radius: 10px;
    box-shadow:  5px 5px 1px #919191;
    
}
.anno-item .title{
    font-weight: bold;
    margin-bottom: 5px;
}
.anno hr{
    height: 1px;
    border: 1px solid  #eab308;
    border-radius: 50%;
}
/* ---------Trending--------- */

.trend{
    display: grid;
    grid-template-rows: 80px 80px 80px;
    background-color: #a3a3a3;
    border-radius: 10px;
    box-shadow:  5px 5px 1px #919191;
}
.anno-trend .trend-title{
    padding-top: 15px;
    padding-bottom: 15px;
}
.trend-item img{
    height: 40px;
    width: 40px;
    justify-self: start;
    border-radius: 50%;

}
.trend-item{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
.trend-item div{
    justify-self: start;
}
.trend-item p{
    font-size: 10px;
}